<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="default" providerName="MySql.Data.MySqlClient" connectionString="Server=mantis; Database=mantis;Uid=root;Pwd=fwa_5302"/>
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  
  <appSettings>
    <!--Handler-->
    <add key="hostNameGitFWA" value="https://gitlab.fwa.eu"/> <!--  FWA host name of Git-->
    <add key ="privateToken" value="xGSSuMNxVKYJSdebPJrj"/> <!-- Private token of client Git; {Test => Walid : xGSSuMNxVKYJSdebPJrj}-->
    <add key="folderToVerify" value="fwamework"/> <!-- Name of folder to check into commits (FWAmework). Note: value in lower case => look how commitsInFwamework list is filled || If many had to add split-->
    <add key="regexMatchTicket" value="(?&#60;=http:\/\/support.fwa.eu\/view.php\?id=)(\d)+"/> <!--Replaced symbol '<' by '&#60;' -->
    <add key="projectId" value="184,41,185"/> <!--184 = NPO maintenance et dév | 41 = NPO nouvelle organisation | 185 = NPO major tasks--> <!--Separator ',' for query Second Validation/ string stm-->
    <!--MailSender-->
    <add key="mailSubject" value="[FWAmeworkReporter] {0}, vous avez effectué des modifications sur FWAmework sans référence sur Template"/>
    <add key="emailsToSendCopy" value="pierre@fwa.eu;thomas@fwa.eu"/> <!-- List of cc mail : template team-->
    <!--HtmlGenerator-->
    <add key="linkBugProcess" value="https://gitlab.fwa.eu/walid.tanouti/Test/wikis/Fwamework-fix-process"/> <!--Link to fwamework fix process-->
  </appSettings>

  <system.net>
    <mailSettings>
      <smtp from="support@fwa.eu">
        <network targetName="Main SMTP" enableSsl="true" host="smtp.office365.com" port="587" userName="support@fwa.eu" password="supfwa7." />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
